.swiper-container {
    height: auto;
    max-width: var(--max-width-desktop);
    position: relative;
}

.swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;

}

.swiper-slide p {
    width: 60%;
    margin-top: 0;
    margin-bottom: 2rem;
}

.swiper-slide a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 10px;
    padding: .8rem 2rem;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    transition: all .5s ease;
}

.swiper-slide a:hover {
    background-color: var(--main-color);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
    opacity: .5;
    font-size: 2rem;
    font-weight: 700;
    transition: all .5s ease;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    opacity: 1;
}